<div class="container h-100 mt-5">
  <div class="row">
    <div class="col-9">
      <!-- Formulario -->
      <h1 class="text-left"><%= @device.display_name %></h1>
      <!-- Mostrar erros -->
      <%= form_tag save_assign_device_path do |form|  %>
        <%= hidden_field_tag("device_id", @device.id) %>
        <div class="form-group">
          <%= label_tag 'date', t('devices.assign_user') %>
          <%= select_tag("user_id", options_from_collection_for_select(acc.users.actives, "id", "display_name"), {:class => 'form-control'} ) %>
        </div>
        <div class="form-group">
          <%= label_tag 'date', t('devices.assign_date') %>
          <%= date_field_tag("date", Date.today, {:class => 'form-control'} ) %>
        </div>
        <div class="form-group">
          <div class="mx-auto" style="width: 75px;">
            <%= submit_tag t('actions.save'), class: 'btn btn-primary' %>
          </div>
        </div>
      <%end%>
      <!-- Fin formulario -->
    </div>
    <div class="col-3">
      <!-- Menú lateral -->
      <%= go_back_link(device_path(@device)) %>
      <!-- Fin menú lateral -->
    </div>
  </div>
</div>