<div class="container h-100 mt-5">
  <div class="row">
    <div class="col-9">
      <!-- Formulario -->
      <h1 class="text-left"><%= @device.display_name %></h1>
      <!-- Mostrar erros -->
      <%= form_tag save_deassign_device_path do |form|  %>
        <%= hidden_field_tag("device_id", @device.id) %>
        <%= hidden_field_tag("user_id", @device.reload.current_user.id) %>
        <div>
          <dl>
            <dt><%= t('devices.current_user') %></dt>
            <dd><%= @device.current_user.display_name %></dd>
          </dl>
        </div>
        <div class="form-group">
          <%= label_tag 'date', t('devices.deassign_date') %>
          <%= date_field_tag("date", Date.today, {:class => 'form-control'} ) %>
        </div>
        <div class="form-group">
          <div class="mx-auto" style="width: 75px;">
            <%= submit_tag t('actions.save'), class: 'btn btn-primary' %>
          </div>
        </div>
      <%end%>
      <!-- Fin formulario -->
    </div>
    <div class="col-3">
      <!-- Menú lateral -->

      <!-- Fin menú lateral -->
    </div>
  </div>
</div>