<div class="container">
  <div class="row">
    <div class="col-9">
      <!-- Listado dispositivo -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"><%= Device.human_attribute_name('code') %></th>
            <th scope="col"><%= Device.human_attribute_name('description') %></th>
            <th scope="col"><%= Device.human_attribute_name('category') %></th>
          </tr>
        </thead>
        <tbody>
          <% @devices.each do |device| %>
            <tr>
              <td><%= link_to device.code, device %></td>
              <td><%= link_to device.description, device %></td>
              <td><%= link_to device.category_name_translated, device %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
       <!-- Fin listado dispositivo -->
    </div>
    <div class="col-3">
      <!-- Menú lateral -->
      <div class="mx-auto" style="width: 82px;">
        <%= button_to t('actions.new'), new_device_path, method: :get, class: 'btn btn-primary' %>
      </div>
      <!-- Fin menú lateral -->
    </div>
  </div>
</div>
