<div class="pt-4">
  <%= form_for @user do |f| %>
    <!-- Mostrar erros -->
    <%= render 'common/show_errors', :object => @user %>
    <!-- Formulario -->
    <div class="h-100 justify-content-center align-items-center">
      <div class="row">
        <div class="col-md">
          <div class="form-group">
            <%= f.label :login %><br>
            <%= f.text_field :login, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password %><br>
            <%= f.text_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %><br>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md">
          <div class="form-group">
            <%= f.label :surname_1 %><br>
            <%= f.text_field :surname_1, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :surname_2 %><br>
            <%= f.text_field :surname_2, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :id_document_number %><br>
            <%= f.text_field :id_document_number, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :rol %><br>
            <%= f.select("rol", ROLES.collect {|c,v| [ t("global_constants.roles.#{v}"), c ] }, {}, { :class => 'form-control' } ) %>
          </div>
          <div class="form-group">
            <%= f.label :locale %><br>
            <%= f.select("locale", AVAILABLE_LOCALES.collect {|c,v| [ t("global_constants.available_locales.#{v}"), v ] }, {}, { :class => 'form-control' } ) %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="mx-auto" style="width: 75px;">
          <%= submit_tag t('actions.save'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>