<!DOCTYPE html>
<html>
  <head>
    <title><%= t('common.title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Menú superior -->
    <div id="top-menu">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to t('menu.users'), users_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= t('menu.brands') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= t('menu.programs') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= t('menu.devices') %></a>
            </li>
          </ul>
          <div class="row justify-content-center pr-3">
            <spam class="text-success"> <%= material_icon.person %> </spam>
            <spam class="text-white"> <%= t('menu.connected_as') %> </spam>
            <spam class="text-white" >&nbsp; <%= current_user.login %> &nbsp;</spam>
            <span class="text-white">(<%= link_to t('menu.logout'), logout_path %>)</span>
          </div>
        </div>
      </nav>
    </div>

    <!-- Contedor principal -->
    <div id="main-container">
      <div class="row pt-4">
        <div class="col">
          <!-- Columna libre pola marxe esquerda -->
        </div>
        <div class="col-9">
          <!-- Contido -->
          <%= yield %>
        </div>
        <div class="col">
          <!-- Columna libre pola marxe dereita -->
        </div>
      </div>      
    <div>

    <!-- Footer -->
    <div id="bottom-footer" class="pt-5">
      <!--<footer class="alert alert-light fixed-bottom">-->
      <footer class="alert alert-light">
        <div class="text-center py-3">
          <spam><%= t('common.footer_text') %> </spam>
        </div>
      </footer>
    </div>

  </body>
</html>
